.quixnav_custom_sidebar {
    width: 17rem;
    padding-bottom: 112px;
    height: 100%;
    position: absolute;
    top: 5rem;
    padding-top: 0;
    z-index: 2;
    background-color: #000066;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}
 .menu-toggle .quixnav_custom_sidebar {
    position: absolute;
}
/* .menu-toggle .quixnav_custom_sidebar {*/
/*    left: 0;*/
/*}*/
 .quixnav_custom_sidebar {
    position: fixed;
}

/* .quixnav_custom_sidebar {*/
/*    left: -100%;*/
/*}*/


.quixnav_custom_sidebar .metismenu li {
    display: flex;
    flex-direction: column;
}
.quixnav_custom_sidebar .metismenu li a i{
    display:none;
}
.quixnav-scroll .metismenu a {
    position: relative;
    display: block;
    padding: 0.8125rem 1.25rem;
    outline-width: 0;
    color: #bdbdc7;
    text-decoration: none;
}

/*end of sidebar css*/
.metismenu #menu {
    padding: 0.8125rem 1.25rem !important;
}

.quixnav-scroll .metismenu ul a {
    padding-left: 54px;
    font-weight: 300;
}

.quixnav-scroll .metismenu .has-arrow:after {
    width: 0.35rem;
    height: 0.35rem;
    right: 1.5625rem;
    top: 48%;
    border-color: inherit;
    -webkit-transform: rotate(-225deg) translateY(-50%);
    transform: rotate(-225deg) translateY(-50%);
}

metismenu .has-arrow:after {
    position: absolute;
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: initial;
    right: 1em;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    -webkit-transform-origin: top;
    transform-origin: top;
    top: 50%;
    transition: all .3s ease-out;
}

.quixnav-scroll .metismenu > li:hover > a, .quixnav-scroll .metismenu > li:focus > a, .quixnav-scroll .metismenu > li.mm-active > a {
    background-color: #000056;
    color: #fff;
}

.content-body {
    /*margin: 1rem !important;*/
    z-index: 0;
    transition: all 0.2s ease;
}

#main-wrapper .nav-header .nav-control{
    display: block !important;
}

#main-wrapper .nav-header .nav-control .hamburger{
        display: block !important;
}


.content-body .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

.form-group.train-deet label.text-label{
white-space:nowrap;
}

.quixnav-scroll .metismenu>li:hover>a, .quixnav-scroll .metismenu>li:focus>a, .quixnav-scroll .metismenu>li.mm-active>a {
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
}

a.mm-active {
    background-color: #000056;
}

@media only screen and (max-width: 768px){
 .nav-header .nav-control .hamburger {
    left: -0.25rem !important;
}
.logo-srs {
    width: 50px !important;
    height: auto !important;
}
}

.menu-toggle .quixnav_custom_sidebar {
    position: fixed;
}

.text-error{
color:red;
}

body{
overflow-y:auto;
}

.content-body {
    overflow-y: auto !important;
}


@media screen and (max-width: 1160px){
.btn-primary {
    font-size: 16px !important;
}
}

.card-body {
    overflow: auto !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.col-sm-12.col-md-6, .col-sm-12, .col-xl-12.col-xxl-12, .col-xl-6.col-xxl-12{
padding-right: 0px !important;
    padding-left: 0px !important;
}

@media only screen and (max-width: 1292px) and (min-width: 992px)  {
.col-lg-12.mb-4.form-style.add_course_step_2_col .train-deet {
    display: inline-grid;
    grid-template-columns: 18% 80%;
    align-items:center;
}
}

@media only screen and (max-width: 525px){
.btn.btn-primary {
    width: fit-content;
    font-size: 12px !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
    color: #454545;
}
.nav-control {
    right: -3rem;
}
}

.card {
    margin-bottom: 1.875rem;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    position: relative;
    border: 0px solid transparent;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    overflow: hidden !important;
}

@media only screen and (min-width: 340px) and (max-width: 992px){
.footer {
    padding-left: 0rem;
}
}

.acc-content-style {
    padding: 18px 0px;
    overflow: auto;
}

@media only screen and (max-width: 525px){
.attendee-home .btn.btn-primary {
    width: fit-content;
    font-size: 10px !important;
}
}

.form-row.form-row-attendee-style {
    margin-bottom: 20px;
}

.form-row-attendee-style input::placeholder {
    font-size: 19.2px !important;
}


@media (max-width: 1630px){
.form-row-attendee-style input::placeholder {
    font-size: 16.8px !important;
}
}

@media (max-width: 992px){
.form-row-attendee-style input::placeholder {
    font-size: 14px !important;
}
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #828690 !important;
}

.form-row.form-row-attendee-style .form-group {
    justify-content: center;
margin-bottom: 1rem;
}

.form-group {
justify-content: center !important;
}

@media only screen and (max-width: 525px){
button.swal2-cancel.btn.btn-outline-danger.ml-3 {
    font-size: 14px !important;
}
button.swal2-confirm.btn.btn-primary {
    font-size: 14px !important;
}

}







/*sidebar css*/


@media (min-width: 1200px) and (max-width: 1350px){
.content-body {
    margin-left:17rem;
}}
@media (min-width: 768px) and (max-width: 992px){
[data-sidebar-style="mini"] .content-body {
    margin-left: 0rem;
}
[data-sidebar-style="mini"] .content-body{
      margin-left: 0rem;
}
.show.menu-toggle .content-body{
        margin-left: 0rem;
}

}
@media only screen and (min-width: 1200px) and (max-width: 1350px){
[data-sidebar-style="full"] .header, [data-sidebar-style="overlay"] .header {
    width: 100%;
    padding-left: 17rem;
}
    .nav-header{
        width:17rem;
    }
    
}
.logo-srs {
 
    width: 50px;
}
@media screen and (min-width: 992px){
.logo-srs {
 
    width: 150px;
}


}
@media only screen and (min-width: 768px){
[data-sidebar-style="mini"] .nav-header .nav-control .hamburger {
    left:0rem !important;
}}


.nav-control .hamburger .line{
    width:25px;
}
.nav-control .hamburger.is-active .line{
    width:25px;
}
.hamburger.is-active .line:nth-child(1){
    transform: none;
    width:25px;
}
.hamburger.is-active .line:nth-child(3){
      transform: none;
          width:25px;
}
.show_sidebar .content-body{
    margin-left:17rem;
}
.show_sidebar.menu-toggle .content-body{
    margin-left:0rem;
}
/*.show_sidebar.menu-toggle .quixnav_custom_sidebar{*/
/*    left:-100%;*/
/*}*/
.hide_sidebar .quixnav_custom_sidebar{
    left:-100%;
}
.hide_sidebar.menu-toggle .quixnav_custom_sidebar{
    left:0;
}
.show_sidebar.menu-toggle .quixnav_custom_sidebar{
      left:-100%;  
}
@media only screen and (max-width: 992px){
.hide_sidebar .content-body{
    margin-left:0;
}
}


@media (min-width:992px){

[data-sidebar-style="mini"] .nav-header{
      width:17rem;
}
[data-sidebar-style="mini"] .header{
    padding-left:17rem;
}

}
[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .content-body{
    margin-left:0;
}


#main-wrapper .content-body .container-fluid .row .col-xl-12{
     -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#main-wrapper .content-body .container-fluid .row .col-xl-12::-webkit-scrollbar {
          display: none;
        }
        







/*Ranjima*/

@media (max-width:992px){
td.group-i-icons.btn-td a {
    padding: 10px;
}
table.dataTable tbody td {
    padding: 10px;
}
}

@media (max-width:1200px){
table.dataTable tbody td {
    padding: 10px;
}
}

.card-body-details{
margin-top:15px;
}

.card-text-a {
    color: #7e838b;
    margin-top: 10px;
}

.card-body-a {
    padding-top: 20px;
}

.col-md-6.edit-question-category-at {
    padding-left: 0px;
}

.edit-attendee-q{
margin-bottom:0rem;
}

.dataTables_wrapper input[type="search"], .dataTables_wrapper input[type="text"], .dataTables_wrapper select {
    border: 1px solid #e2e2e2;
    padding: 0rem 0.5rem;
    color: #715d5d;
    border-radius: 5px;
}

@media only screen and (max-width: 525px){
.btn.btn-primary {
    width: fit-content;
    font-size: 13px !important;
}
.page-titles .breadcrumb li a {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
    color: #454545;
}
}

.card::-webkit-scrollbar{
overflow-y:hidden;
}

.custom-card{
overflow:hidden !important;
}


@media only screen and (min-width: 1300px){
table.dataTable tbody td {
    padding: 6px 10px !important;
}
}

@media only screen and (max-width: 1496px) and (min-width: 1440px){
td.group-i-icons.btn-td {
    padding-bottom: 15px !important;
}
}

td.group-i-icons.btn-td a {
    padding: 10px !important;
}

@media (max-width: 408px){
.btn.btn-primary {
    width: fit-content;
    font-size: 12px !important;
}
}

@media only screen and (max-width: 407px) and (min-width: 323px)  {
.btn.btn-primary {
    width: fit-content;
    font-size: 12px !important;
}
}

@media (max-width: 767px){
h4 {
    margin-bottom: 0rem;
}
.edit-attendee-q {
    padding-left: 15px;
}
.edit-question-category-at{
padding-right:0px;
}
}

.btn-client-edit {
    display: flex;
    gap: 10px;
flex-wrap:wrap;
}

h4 {
    margin-bottom: 0rem;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow:none;
    color: white;
}

#main-wrapper .content-body .container-fluid .row .col-xxl-12 .custom-card::-webkit-scrollbar {
          display: none !important;
}

textarea#exampleFormControlTextarea1 {
    color: #828690;
}

@media only screen and (min-width: 992px){
[data-sidebar-style="mini"] .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16rem;
}
}

@media only screen and (max-width: 525px){
.btn-outline-danger {
    width: fit-content;
    font-size: 13px !important;
}
}

@media only screen and (max-width: 396px){
.btn-outline-danger {
    width: fit-content;
    font-size: 12px !important;
}
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
    box-shadow:none;
}


@media screen and (max-width: 1920px){
.btn-outline-danger {
    font-size: 20px;
}
}

#main-wrapper .content-body .container-fluid .row .col-xxl-12 .custom-card {
          display: none !important;
overflow-x:unset;
}


/* EMAIL TEMPLATE */

.row-edit-template{
margin-top:20px;
}

.edit-email-form-group-content{
display:flex;
flex-direction: row;
}

.edit-email-form-group{
display:grid;
grid-template-columns: 15% 80%;
justify-content: center;
align-items:center;
}

.btn-edit-template{
  display:flex;
  gap: 10px;
}

.add_course_step_2_col {
  display: grid;
  grid-template-columns: 100%;
}

.email-content-style{
  display:flex;
  flex-direction: column;
  gap:15px;
}

.subject-style{
  align-items:start;
}

.note-edit-email{
  font-size:13px;
}

.create-accordion-content{
padding:18px 0px !important;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #000066;
    border-color: #000066;
}

@media screen and (max-width: 1440px){
.btn-outline-danger {
    font-size: 16px !important;
}
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-danger.dropdown-toggle:focus {
    box-shadow: none;
}

.form-row .form-gap-2 input::placeholder {
    font-size: 22px !important;
}

@media screen and (max-width: 1920px){
.form-row .form-gap-2 input::placeholder {
    font-size: 19px !important;
}
}

@media screen and (max-width: 1630px){
.form-row .form-gap-2 input::placeholder {
    font-size: 16px !important;
}
}

@media screen and (max-width: 1440px){
.form-row .form-gap-2 input::placeholder {
    font-size: 14px !important;
}
}

.error-bg{
background-color:#000066;
}

.error-danger{
  color: #D8000C;
  background-color:#FFBABA;
  border:1px solid #D8000C;
}

.error-style-decor{
  list-style-type:circle;
  color:red;
}

.error-text{
  color: #D8000C;
}


.error-heading-text{
  color:#fff;
  font-size:18px;
  font-weight:500;
}

.attendee-home-error{
  margin-left:0rem;
  overflow-y: hidden !important;
}

.success-text-clr{
  color:#006400;
}

button.swal2-cancel.btn.btn-outline-danger.ml-3{
width:fit-content !important;
}

.card-text-attendee{
  color: #fff;
}

.card-block{
  background-color:#1e824c;
}

.card-block-content{
  padding:25px;
  display:flex;
  flex-direction: column;
}

.card-block-content>h4,h6{
  color:#fff;
}

.card-block-info-con {
  padding: 0 30px;
}

.form-not-filled{
  background-color:#CF000F;
}

a.card-link {
  width: fit-content;
}

.card-block.card-block-info{
  border-radius: 2%;
}




.accordion-add-contact-colr{
color:#454545;
}

.btn-link {
  font-weight: 600;
  color: #454545;
  text-decoration: none !important;
  padding: 20px;
  font-size:18px;
}

.btn-link:hover {
color:#454545;
text-decoration: none;
}

.accordion-extra {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight:600;
  transition: 0.4s;
}


.accordion-extra:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion-extra .active:after {
  content: "\2212";
}

.accordion-panel-extra {
  padding: 0 18px !important;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.error-bg{
background-color:#000066;
}

.error-danger{
  color: #D8000C;
  background-color:#FFBABA;
  border:1px solid #D8000C;
}

.error-style-decor{
  list-style-type:circle;
  color:red;
}

.error-text{
  color: #D8000C;
}


.error-heading-text{
  color:#fff;
  font-size:18px;
  font-weight:500;
}

.attendee-home-error{
  margin-left:0rem !important;
  overflow-y: hidden !important;
}

.success-text-clr{
  color:#006400;
}


@media (max-width: 525px) {
.mx-2 {
    white-space: nowrap;
}
}

#attendee-error .attendee-home-error{
margin-left:0rem !important;
}

.attendee-home-error a:hover, a:focus, a.active {
    color: #454545;
    text-decoration: none;
}

textarea#notes:hover {
    color:#828690;
}

textarea#notes{
color:#828690;
font-size:19.2px;
}

@media (max-width: 1440px) {
textarea#notes{
font-size:14px;
}
}


@media screen and (max-width: 500px){
.col-xxl-12 {
    overflow-x: unset;
}
}

@media screen and (max-width: 500px){

#main-wrapper .content-body .container-fluid .row .col-xxl-12{
     -ms-overflow-style: none;  / IE and Edge /
  scrollbar-width: none;  / Firefox /
}

#main-wrapper .content-body .container-fluid .row .col-xxl-12::-webkit-scrollbar {
          display: none;
        }

}


@media screen and (max-width: 500px){
.add_course_step_2_col label.text-label {
    font-size: 14px !important;
white-space: nowrap;

}

.form-group input {
    font-size: 12px !important;
}

.add_course_step_2_col .edit-email-form-group {
    display: grid;
    grid-template-columns: 100% !important;
    justify-content: center;
    align-items: center;
}


.note-edit-email {
    font-size: 11px;
}
}

td.group-i-icons.btn-td a {
    padding: 0px !important;
}


.course-content-style{
overflow:hidden;
}

.course-table-style{
overflow-x: hidden !important;
}

@media screen and (max-width: 992px){
.logo-srs {
    width: 50px !important;
    height: auto !important;
}
}


td{
white-space: nowrap;
}


.email-template-content-section{
overflow:hidden;
}

.influencing-question-customise-content {
    overflow: hidden;
}

@media screen and (min-width: 340px){
i {
    font-size: 15px;
}

.fa-edit:before, .fa-pen-to-square:before {
    font-size: 15px;
}

.fa-user:before {
    font-size: 15px;
}
}

@media screen and (min-width: 1440px){
i {
    font-size: 20px !important;
}

.fa-edit:before, .fa-pen-to-square:before {
    font-size: 20px !important;
}

.fa-user:before {
    font-size: 20px !important;
}
}

.quixnav_custom_sidebar .quixnav-scroll .metismenu .has-arrow[aria-expanded=true]:after, .quixnav_custom_sidebar .quixnav-scroll .metismenu .mm-active>.has-arrow:after {
    -webkit-transform: rotate(-135deg) translateY(-50%) !important;
    transform: rotate(-135deg) translateY(-50%) !important;
}

.add_course_step_2_col .content-body {
    overflow-y: unset;
}
.add_course_step_2_col .content-body{
overflow: hidden !important;
}

@media screen and (max-width: 530px){

.influencing-question-customise-content {
    overflow: scroll !important;
}
.email-template-content-section{
overflow:scroll !important;
}

.course-content-style{
overflow:scroll;
}

.course-table-style{
overflow-x: scroll !important;
}

}

.question-customize-para{
display: flex;
flex-direction: column;
gap: 15px;
}

.email-customize{
white-space: nowrap !important;
}

.question-customize-para .form-control {
    font-size: 19.2px;
}

.add_course_form_content .form-group{
  display: grid;
  grid-template-columns: 15% 40% !important;
justify-content: flex-start !important;
}

@media screen and (max-width: 1439px){
.question-customize-para .form-control {
    font-size: 14px;
}
}

@media screen and (max-width: 1630px){
.question-customize-para .form-control {
    font-size: 16.8px;
}
}


table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.9rem !important;
    align-items: center;
    justify-content: center;
    display: flex !important;
    opacity: 1;
    color: #454545 !important;
}



[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .logo-srs{
    display:block !important;
}
   .nav-header{
    width:17rem !important;
}
@media screen and (max-width: 992px){
        .nav-header{
    width:3.75rem !important;
}
    [data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .logo-srs{
        display:block;
    }
    .nav-header .brand-logo{
        padding-left:0rem !important;
    }
}


.attendee-add-contacts h5{
    font-size: 1.2rem !important;
}


th{
    text-transform: capitalize !important;
}

.add_course_step_2_col .email-customize{
white-space: nowrap;
}

@media screen and (max-width: 992px){
[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .header{
padding-left:1.75rem !important;
}
.header .header-content {
    height: 100%;
    padding-left: 6.3125rem !important;
    padding-right: 1.875rem;
    align-items: center;
    display: flex;
}
}

@media screen and (min-width: 993px){
[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .header{
padding-left:17.2rem;
}
}

@media (max-width: 992px){
[data-sidebar-style="mini"] .header {
    padding-left: 1.75rem !important;
}
}

@media only screen and (max-width: 767px){
[data-sidebar-style="full"] .header, [data-sidebar-style="overlay"] .header {
    width: 100%;
    padding-left: 1.75rem !important;
}
}

@media only screen and (max-width: 575px){
.header .header-content {
    padding-left: 4.375rem !important;
    white-space: nowrap;
}
}


@media only screen and (max-width: 1200px){
div#DataTables_Table_0_wrapper {
    overflow-x: scroll;
}
}

@media only screen and (max-width: 525px){
button.btn.btn-outline-danger{
font-size:12px;
}
}

.course-view-customize h6.card-subtitle {
    font-size: 19.2px !important;
}

@media only screen and (max-width: 1439px){
.course-view-customize h6.card-subtitle {
    font-size: 16px !important;
}
}

.card-block-info-con .card-block.card-block-info {
    border-radius: 0rem !important;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.mdi-account:before {
    content: "\F004";
    margin-top: 10px !important;
}

.nav-control:focus {
    background: #000066 !important;
}


@media screen and (max-width: 1160px){
.course-view-influencing-container .btn.btn-primary {
    font-size: 12px !important;
}
}

.card-block-content h6{
margin-bottom:0.75rem;
}

@media screen and (max-width: 1440px){
.course-view-influencing-container .btn.btn-primary {
    font-size: 16px !important;
}
.course-view-influencing-container .send-report-btn-a{
width: fit-content;
    font-size: 16px !important;
}
}


@media screen and (min-width: 1441px){
.course-view-influencing-container .btn.btn-primary {
    font-size: 20px !important;
}

.course-view-influencing-container .send-report-btn-a{
width: fit-content;
    font-size: 20px !important;
}
}

@media only screen and (max-width: 525px){
.course-view-influencing-container .btn.btn-primary {
    width: fit-content;
    font-size: 13px !important;
}

.course-view-influencing-container .send-report-btn-a{
width: fit-content;
    font-size: 13px !important;
}



.course-view-influencing-container .mt-2, .my-2 {
    margin-top: 0rem !important;
}

.card-block-info-con .card-block.card-block-info {
    border-radius: 0rem !important;
    height: 25vh;
}

.course-view-influencing-container .card-title {
    margin-bottom: 1rem;
}
}

.course-view-influencing-container .card-title {
    margin-bottom: 1rem;
}

.course-view-influencing-container .card-block-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
justify-content: center;
}

@media only screen and (max-width: 992px){
.container-fluid.template-manager-customise-container .email-template-content-section table.dataTable tbody td{
    white-space: normal;
}

.influencing-question-customise-content table.dataTable tbody td {
white-space: normal;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    white-space: nowrap;
}

.container-fluid.edit-template-container-customise-manager .form-style {
padding: 0px;
}

.container-fluid.edit-template-container-customise-manager .card-body {
    padding: 0rem 0.75rem;
}
}


@media only screen and (max-width: 992px){
.page-titles .breadcrumb {
    padding-left: 0.75rem !important;
}
}

@media only screen and (max-width: 1100px) and (min-width: 992px)  {
table#DataTables_Table_0 th {
    white-space: normal !important;
}
}

.note-edit-email {
    font-weight: 600;
    margin-bottom: 5px !important;
}


.template-manager-customise-container div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0rem;
    display: inline-block;
    width: auto;
}

.template-manager-customise-container #userTable_wrapper .odd td:nth-child(2){
    text-align:left !important;
    padding-left:2% !important;
}
.template-manager-customise-container #userTable_wrapper .even td:nth-child(2){
    text-align:left !important;
    padding-left:2% !important;
}



@media only screen and (max-width: 525px){
.btn.btn-primary {
    width: fit-content;
    font-size: 13px !important;
}

.btn-outline-danger {
    font-size: 13px !important;
width:fit-content !important;
}

.btn {
padding: 0.5rem !important;
line-height: 1 !important;
}
}


@media only screen and (min-width: 375px){
.btn-primary {
    width: fit-content !important;
    font-size: 11px !important;
}
}

.course-company-edit-container .form-style {
    padding: 0px; !important
    }
    
    
    .client-management-add-container .form-style {
    padding: 0px; !important
    }
    
    
    @media screen and (max-width: 1204px){
    .course-view-influencing-container .btn.btn-primary {
        font-size: 13px !important;
    }
    }


.course-view-influencing-container .view-course-row-a {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) ) !important;
    align-items: flex-start;
    justify-content: flex-start !important;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0px !important;
    gap: 20px;
    margin: 15px 0px !important;
}


.course-view-influencing-container .card-view-course-customise {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

.course-view-influencing-container .col-md-4.card-block-info-con.card-block-col-view {
    padding: 0px;
    width: 100% !important;
    max-width: 100% !important;
}

.view-card-customise{
   margin-bottom: 0rem
}


.course-view-influencing-container .card-block-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 525px){
.btn-primary {
    font-size: 14px !important;
}

.btn-outline-danger {
font-size: 14px !important;
}

.course-view-influencing-container .btn.btn-primary {
font-size: 14px !important;
}

.course-view-influencing-container .send-report-btn-a {
font-size: 14px !important;
}
}

@media screen and (min-width: 1441px){
.btn-primary {
    font-size: 16.8px !important;
}
.btn-outline-danger {
font-size: 16.8px !important;
}

.course-view-influencing-container .btn.btn-primary {
font-size: 16.8px !important;
}

.course-view-influencing-container .send-report-btn-a {
font-size: 16.8px !important;
}
}

@media screen and (min-width: 1631px){
.btn-primary {
    font-size: 19.2px !important;
}
.btn-outline-danger {
font-size: 19.2px !important;
}

.course-view-influencing-container .btn.btn-primary {
font-size: 19.2px !important;
}

.course-view-influencing-container .send-report-btn-a {
font-size: 19.2px !important;
}

}

.card-block-content h6,p {
margin-bottom: 0.5rem !important;
}


.card.card-view-course-customise {
    border-radius: 0rem !important;
}

@media screen and (max-width: 767px){

.course-view-influencing-container .view-course-row-a {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) ) !important;

}

.col-md-2.col-12.mb-50 {
    padding-left: 0px;
}

}

div.dataTables_wrapper div.dataTables_info {
    color: #828690;
}


.nav-header .brand-logo {
    display: flex;
    justify-content: center !important;
padding-left:0rem !important;
}

li.nav-label.first {
    display: none;
}

@media screen and (max-width: 992px){

.col-md-2.col-12.mb-50 {
    padding-left: 5px;
}
.form-row>.col, .form-row>[class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}
}

.profile-container-fluid .form-row {
    margin-bottom: 20px;
}

.btn-influencing-question {
    margin-top: 20px;
}

@media screen and (max-width: 992px){

.col-lg-12.mb-4.form-style.add_course_step_2_col {
    margin-bottom: 10px !important;
}

}


/*the container must be positioned relative:*/
.customise-select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.customise-select select {
  display: none; /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 17px;
  right: 15px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #828690 transparent transparent transparent;
}



/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #828690 transparent;
  top: 10px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #828690;
  padding: 8px 16px;
  border: 1px solid #eaeaea;
  border-radius: 0.25rem;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  border-radius: 0rem;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
height:120px;
  overflow-y:scroll;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #000066;
  color:#fff !important;
}

.select-selected {
    border: 1px solid #eaeaea;
}


.form-control:focus {
    border-color: none !important;
}

button.btn.btn-outline-danger {
    margin:5px 0px;
}

td{
white-space:normal;
}

hr {
    margin-top: 1rem !important;
}


.course-view-influencing-container .card-block-info-con {
display:block !important;
}

.course-view-influencing-container .card.card-customise-view-report{
margin-bottom:0rem;
border-radius:0rem !important;
}


.course-view-influencing-container .card-block-content h4, h6{
font-size:18px;
}
.course-view-influencing-container p.card-text.card-text-attendee.p-y-1{
font-size:18px;
}

.card.view-card-customise{
border-radius:0rem !important;
}


@media screen and (max-width: 1441px){

.course-view-influencing-container .card-block-content h4, h6{
font-size:16px;
}
.course-view-influencing-container p.card-text.card-text-attendee.p-y-1{
font-size:16px;
}
}

@media screen and (max-width: 992px){

.course-view-influencing-container .card-block-content h4, h6{
font-size:14px;
}
.course-view-influencing-container p.card-text.card-text-attendee.p-y-1{
font-size:14px;
}
}




@media screen and (max-width: 1300px) and (min-width:992px){
.course-content-style td.group-i-icons.btn-td {
    font-size: 28px !important;
}
}

p#demo{
margin-bottom:0rem !important;
margin-top: 10px;
}

.template-manager-customise-container div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    display: none !important;
}

.influencing-question-customise-content div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    display: none !important;
}

@media only screen and (max-width: 600px){
.course-view-influencing-container .row-a {
    display: grid !important;
    align-items: center !important;
    justify-content: center;
    gap: 10px;
}

.course-view-influencing-container .page-titles .breadcrumb {
    padding-left: 0rem !important;
}

.view-course-text-a>h4 {
    font-size: 16px;
    color: #454545;
    white-space: nowrap;
    padding-left: 0px;
}

.course-view-influencing-container .page-titles .justify-content-sm-end {
    align-items: center;
    width: 100%;
    max-width: 100%;
}
}

@media screen and (min-width: 1440px) and (max-width: 1630px) {
.form-group input::placeholder {
    font-size: 16.8px !important;
}
.form-group input {
    font-size: 16.8px;
}
}

@media screen and (min-width: 1631px){
.form-group input::placeholder {
    font-size: 19.2px !important;
}
.form-group input {
    font-size: 19.2px;
}
}

.input-error.customise-select .input-error{
    display: flex;
    flex-direction: column-reverse !important;
} 